.register-engineer-container {
  max-width: 500px;
  margin: 40px auto;
  background: #96b0e4;
  padding: 30px 40px;
  border-radius: 12px;
    box-shadow: 0 4px 20px rgba(28, 141, 190, 0.563);
    transition: all 0.3s ease;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.register-engineer-container:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.register-title {
  text-align: center;
  font-size: 24px;
  color: #2d3436;
  margin-bottom: 25px;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-label {
  font-size: 16px;
  color: #2d3436;
  margin-bottom: 5px;
}

.register-input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.2s ease;
}

.register-input:focus {
  outline: none;
  border-color: #0984e3;
}

.register-btn {
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #0871c1;
}
