/* Sidebar layout */
.layout {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

/* Sidebar */
.sidebar {
  width: 100%;
  background-color:white;
  color: black;
  padding: 20px;
  display: flex;
}

#sidebar-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-right: 50px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Main container */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Top bar */
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.292);
  border-bottom: 1px solid #ccc;
}

/* Logout button */
.logout-btn {
  background-color: #f2402d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(226, 18, 18, 0.397);
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  margin-top: 26px;
  margin-left: 10px;
  padding: 1rem;

}

.logout-btn:hover {
  background-color: #f12009;
  color: white;
  transform: translateY(-8px);
  box-shadow: 0 4px 20px rgba(226, 18, 18, 0.397);
}

/* Main content area */
.content-area {
  padding: 20px;
  overflow-y: auto;
}

#side-links{
    text-decoration: none; /* Removes the underline */
    color: black; /* Sets text color */
    padding: 0.5rem 0.5rem; /* Adds spacing for button-like effect */
    background-color: whitesmoke; /* Background color of the button */
    border-radius: 10px; /* Rounds corners */
    display: inline-block; /* Makes it behave like a button */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.237);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.203);
    text-align: center;
    padding: 1rem;
    margin-right: 8px;
}

#side-links:hover {
    background-color: black;
    color: white;
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15); /* Changes color when hovered */
}

#side-links.active {
  background-color: black;
  color: white;
}

.side-links-container{
  width:200px;
  margin-top: 25px;
}
