.change-password-page {
  max-width: 420px;
  margin: 60px auto;
  padding: 40px 30px;
    background: #96b0e4;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(28, 141, 190, 0.563);
    transition: all 0.3s ease;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.change-password-page:hover{
     transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.change-password-page h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2d3436;
  font-size: 24px;
}

.changepass-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.changepass-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.2s ease;
}

.changepass-form input:focus {
  border-color: #0984e3;
  outline: none;
  background-color: #f9f9ff;
}

.changepass-btn {
  padding: 12px;
  font-size: 16px;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.changepass-btn:hover {
  background-color: #0652dd;
}

.status {
  text-align: center;
  margin-top: 20px;
  color: #d63031;
  font-weight: 500;
}
